<header class="main-header">
    <nav class="main-nav nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/parking/booking">Parking</a></li>
            <li><a href="/rental">Rental</a></li>
        </ul>
    </nav>
</header>
