<body>
    <section class="container content-section">
        <div class="car-rentals">
            <div class="shop-item" id="suv">
                <span class="car-title">2020 Ford Explorer</span>
                <img class="car-image" src="/imgs/suv.png">
                <div class="car-details">
                    <span class="car-price">$65.99 per day</span>
                    <button class="btn btn-primary shop-item-button" type="button">Select</button>
                </div>
            </div>
            <div class="shop-item" id="compact">
                <span class="car-title">2020 Ford Fiesta</span>
                <img class="car-image" src="/imgs/compact.png">
                <div class="car-details">
                    <span class="car-price">$15.99 per day</span>
                    <button class="btn btn-primary shop-item-button" type="button">Select</button>
                </div>
            </div>
            <div class="shop-item" id="sedan">
                <span class="car-title">2020 Ford Fusion</span>
                <img class="car-image" src="/imgs/sedan.png">
                <div class="car-details">
                    <span class="car-price">$35.99 per day</span>
                    <button class="btn btn-primary shop-item-button" type="button">Select</button>
                </div>
            </div>
            <div class="shop-item" id="luxury">
                <span class="car-title">2020 Ford Raptor</span>
                <img class="car-image" src="/imgs/raptor.png">
                <div class="car-details">
                    <span class="car-price">$105.99 per day</span>
                    <button class="btn btn-primary shop-item-button" type="button">Select</button>
                </div>
            </div>
            
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">Calculated Cost</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">MODEL</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">AMOUNT OF DAYS</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">RESERVE</button>
    </section>
</body>