Choose a spot <br>

<div class="menu-container">
    <div class="button-container">
        <div class="action-container">
             <a href="#/Action1" class="button">Action1</a>
        </div>
        <div class="action-container">
             <a href="#/Action1" class="button">Action2</a>
        </div>
        <div class="action-container">
             <a href="#/Action1" class="button">Action3</a>
        </div>
        <div class="action-container">
             <a href="#/Action1" class="button">Action4</a>
        </div>
        <div class="action-container">
             <a href="#/Action1" class="button">Action5</a>
        </div>
    </div>
</div>

<!-- .menu-container{
    width:250px;
    border: 1px solid #000;
    padding-top: 10px;
}
.button{
    width:110px;
    border:1px solid #900;
    margin-left: 5px;
    line-height:20px;
}
.action-container{
    display:inline-block;
    margin-bottom: 5px;
}
} -->